{% extends 'base.html' %}

<head>
    <title>ブログアプリ</title>
</head>

{% block main %}

<body>
    <h2 style="text-align: center;">{{ diary.title }}</h2>
    <div style="width: 70%;margin: 0px auto;">
        <p>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">本文</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10">
                {{ diary.text | urlize }}
                </textarea>
            </div>
        </p>
        <p>
            <div class='container' style="text-align: center;">
                {{ diary.pub_date }}
            </div>
        </p>
        <p>
            <div style="text-align: center; margin-top: 50px">
                <a href="{% url 'diaries:index' %}">トップページに戻る</a>
            </div>
        </p>
    </div>
    </div>
</body>
{% endblock %}

</html>